<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       https://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       https://www.springframework.org/schema/context/spring-context.xsd">

<!--&lt;!&ndash;    Тут value - устанавливаем некое значение полю бина&ndash;&gt;-->
<!--    <bean id="dao" class="com.apys.learning.ext.register_offece.dao.MarriageDao">-->
<!--        <property name="test" value="SIMPLE_NEW"/>-->
<!--    </bean>-->
<!--&lt;!&ndash;    Тут с помощью ref мы делаем инжекшен (внедрение - связь бинов)&ndash;&gt;-->
<!--    <bean id="manager" class="com.apys.learning.ext.register_offece.businnes.MarriageManager">-->
<!--        <property name="marriageDao" ref="dao"/>-->
<!--    </bean>-->
<!--    <bean id="controller" class="com.apys.learning.ext.register_offece.rest.MarriageController">-->
<!--        <property name="marriageManager" ref="manager"/>-->
<!--    </bean>-->


<!--    Сканирует указанную директорию на наличие файлов с аннотациями и делает из них бины и внедрения-->
    <context:component-scan base-package="com.apys.learning.ext.register_offece"/>

</beans>